.card-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: 18px;
  background-color: rgb(242, 242, 242);
}

.card-number-column {
  width: 17%;
}

.card-edit-form td {
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
  position: relative;
}

.card-edit-question, .card-edit-answer {
  font-size: 14px;
  width: 100%;
}

.back-btn {
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 5px;
  background: #03A9F4;
  color: white;
  align-self: flex-start;
  margin-left: 23px;
  margin-top: 19px;
  box-shadow: 2px 3px 5px #888888;
}

.card-form-title {
  margin-bottom: 60px;
  color: #03A9F4;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 7px;
  background: white;
  box-shadow: 4px 5px 5px #888888;
}

.card-edit-form {
  width: 94%;
}

.header-row {
  font-size: 25px;
}

.card-edit-form tr {
  padding-bottom: 20px;
}

.card-delete-btn {
  cursor: pointer;
}

.add-card-plus-sign-link {
  cursor: pointer;
  font-size: 31px;
  font-weight: bold;
  border: 1px solid #00000000;
  border-radius: 50%;
  padding-top: -7px;
  padding-bottom: 0px;
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 5px;
  background: #03A9F4;
  color: white;
}

.save-btn-div {
  color: rgb(242, 242, 242);
}

.save-cards-btn {
  padding: 16px;
  border-radius: 4px;
  border: none;
  background: #03A9F4;
  color: white;
  margin-top: 73px;
  box-shadow: 2px 3px 5px #888888;
  margin: 5px;
}

.header-btns {
  background-color: red; 
}
