.create-deck-btn {
  text-decoration: none;
  color: black;
  position: relative;;
}

.create-deck-btn:hover {
  -webkit-filter: brightness(85%);
}

.create-deck-btn:active {
  position: relative;
  top: 1px;
}

.deck-form-close-btn {
  background: none;
}

.create-deck-form {
  display: flex;
  flex-direction: column;
}

.submit-create-deck {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 27px;
  border-radius: 11px;
  font-weight: bold;
  background: rgb(169, 232, 255);
}

.deck-title-prompt, .deck-description-prompt {
  font-size: 20px; 
}
