* {
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 242, 242);
  height: 100%;
}

button, input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  -webkit-filter: brightness(85%);
}

html {
  font-family: 'Raleway', sans-serif;
}

button:focus {
  outline:0;
}

button:active {
  position:relative;
  top:1px;
}
