.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ff8d8d;
  align-items: center;
  border-bottom: 2px solid #323232; 
}

.logo {
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  margin: 0 0 0 5px;
  padding: 0;
}

.greeting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.session-btn {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  margin-right: 20px;
}
.session-btn:hover {
	background-color:#eb675e;
}
.session-btn:active {
	position:relative;
	top:1px;
}

.session-btn:visited {
  text-decoration: none;
}

.logout-btn {
  border: none;
}

.user-email-navbar {
  margin-right: 20px;
  font-family:Arial;
  font-size:15px;
}
