.login-form-container{
  width: 100%;
  background-image: url('https://s17.postimg.org/nmhxnqvi7/study_picture.jpg');
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-form-box {
  border: 1px solid #cdd0cc;
  border-radius: 8px;
  padding: 1em;
  margin: 0 auto;
  width: 225px;
  /*height: 315px;*/
  margin-top: -210px;
  background: whitesmoke;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title{
 font-size: 1.8em;
}

.session-form-btn {
  border: none;
  margin: 0 auto;
}

.session-form-errors {
  padding-left: 0;
}

.errors-list {
  padding-left: 0; 
}
