.login-form-container{
  background-image: url('http://res.cloudinary.com/dc2o3efbz/image/upload/v1478125897/study-picture_ztdpev.jpg');
  height: 91vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.login-form-box {
  border: 1px solid #cdd0cc;
  border-radius: 8px;
  padding: 1em;
  margin: 0 auto;
  width: 225px;
  margin-top: -210px;
  background: whitesmoke;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title{
 font-size: 1.8em;
}

.session-form-btn {
  border: none;
  margin: 0 auto;
}

.session-form-errors {
  padding-left: 0;
}

.errors-list {
  padding-left: 0;
}
