.splash {
  margin: 0;
  background-image: url('http://res.cloudinary.com/dc2o3efbz/image/upload/v1478126055/tabletop_l5wqss.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 91vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-cards-img {
  height: auto;
  width: 800px;
  margin-bottom: 45px;
}
